<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627975228086-ear0iq3vonf7bu26co7ts03henp8aus3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627975228086-ear0iq3vonf7bu26co7ts03henp8aus3</string>
	<key>API_KEY</key>
	<string>AIzaSyD6tkdjQZLszOhATlHXRkdrPQYi_6SPgvg</string>
	<key>GCM_SENDER_ID</key>
	<string>627975228086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.agroquiz</string>
	<key>PROJECT_ID</key>
	<string>agroquiz-c1579</string>
	<key>STORAGE_BUCKET</key>
	<string>agroquiz-c1579.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627975228086:ios:4f6ae168d73cf41605b417</string>
	<key>DATABASE_URL</key>
	<string>https://agroquiz-c1579.firebaseio.com</string>
</dict>
</plist>